body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

#equal {
    grid-column: span 4;
    background-color: #ff9500;
    color: #fff;
}

#equal:hover {
    background-color: #ff7500;
}

#onOffButton {
    grid-column: span 4;
    background-color: #ff9500;
    color: #fff;
    margin-bottom: 10px;
}

#onOffButton:hover {
    background-color: #ff7500;
}
